<!-- /views/partials/footer.ejs -->
<footer>
  <p>&copy; SDEV 305: Web Development Frameworks</p>
  <a href="https://github.com/leoraggy/ejs-practice" target="_blank"
    >Github Repository</a
  >
</footer>
